.Results {
  list-style: none;

  &--skip {
    opacity: 0.6;
    text-decoration: line-through;
  }
  &-btnWrap {
    display: flex;
    justify-content: center;
  }
  &-btn {
    font-family: inherit;
    border: 0;
    padding: 12px 24px;
    border-radius: 5px;
    background-color: #fff;
    margin: 16px 6px 6px;
    font-size: 2rem;
    color: #13166f;
    &--go {
      position: relative;
      background-color: #dcb43e;
      color: #fff;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        background-size: cover;
        background-image: url("https://uploads.codesandbox.io/uploads/user/b8f1fe91-9c56-4aa6-8e4b-be201500d8d0/skRG-stars.svg.svg");
      }
    }
    &-text {
      position: relative;
      z-index: 1;
    }
  }
  &-list {
    padding: 0;
    margin: 0;
    height: calc(100vh - 186px);
    font-size: 1.2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
  }
}
